header {
    text-align: center;
    background-color: black;
    color: white;
}

main {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: darkred;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial;
}

img {
    width: 600px;
    height: 700px;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 12px;
}